<footer class="footer">
        <div class="container">
            <div class="footer-container">
                <p class="content has-text-centered">&copy; 2018 <a href="https://github.com/YoshikawaTaiki">YoshikawaTaiki</a></p>
            </div>
        </div>
</footer>