<!DOCTYPE html>
<html lang="ja">
<head>
  <title>frontend page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <% include src/view/_head%>
</head>
<body>
<% include src/view/_header%>
<% include src/view/_content%>
<% include src/view/_footer%>
</body>
</html>